.about {
  box-sizing: border-box;
  margin-top: 3%;
  display: flex;
}
.bio_image {
  width: 400px;
  height: 400px;
  
}

.techs-enter {
  height: 0px;
}

.techs-enter.techs-enter-active {
  height: auto;
  -webkit-transition: height 0.8 ease;
}

.techs-leave.techs-leave-active {
  height: 0px;
  -webkit-transition: height 0.8 ease;
}

.example-enter {
  height: 0px;
}

.example-enter-active {
  height: 100px;
  -webkit-transition: height 1s ease;
}

.example-leave-active {
  height: 0px;
  -webkit-transition: height 1s ease;
}

.panel {
  width: 200px;
  height: 100px;
  background: green;
  margin-top: 10px;
}