.about {
  box-sizing: border-box;
  margin-top: 3%;
  display: flex;
}
.bio_image {
  width: 400px;
  height: 400px;
  
}

.about_categories {
  display: flex;
}

.about_category_inner {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.about_degrees {
  border: 1px solid blue;
}

.about_school {
  display: flex;
  justify-content: space-between;
}

.about_tech {
  box-sizing: border-box;
  margin-bottom: 1rem;
  border: 1px solid red;
}

.about_tech:last-child {
  margin-bottom: 0;
}